deb {{ base_config_nexus_url }}/debian-{{ ansible_distribution_release }}/ {{ ansible_distribution_release }} main contrib
deb {{ base_config_nexus_url }}/debian-{{ ansible_distribution_release }}-updates/ {{ ansible_distribution_release }}-updates main contrib
deb {{ base_config_nexus_url }}/debian-{{ ansible_distribution_release }}-security/ {{ ansible_distribution_release }}-security main contrib
