deb {{ base_config_nexus_url }}/ubuntu-{{ ansible_distribution_release }}/ {{ ansible_distribution_release }} main restricted universe multiverse
deb {{ base_config_nexus_url }}/ubuntu-{{ ansible_distribution_release }}-updates/ {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb {{ base_config_nexus_url }}/ubuntu-{{ ansible_distribution_release }}-security/ {{ ansible_distribution_release }}-security main restricted universe multiverse
